body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: black;
}

#navbar {
    font-size: 20px;
    position: fixed;
    margin-left: 57rem;
    z-index: 4;
}

main {
    padding-top: 50px;
}

section {
    height: 100vh;
    padding: 20px;
    text-align: center;
}

ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

/* Remove underline */
nav ul li a {
    text-decoration: none;
}

.link {
    color: #fff;
    padding: 0.5rem;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
    bottom: 0;
    left: 0;
}

.link:hover::before {
    transform: scaleX(1);
}

.logo {
    transition: 0.35s ease;
}

.logo:hover {
    opacity: 0.5;
}

.intro-body {
    position: absolute;
    text-align: left;
    padding-top: 200px;
    margin-left: 55rem;
    z-index: 2;
    top: 20%;
}


#first-header {
    position: absolute;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
    top: 40%;
}

#second-header,
#typewriter {
    font-size: 25px;
    top: 20%;
}

.cursor {
    border-left: 4px solid white;
}

h2 {
    margin: 10px 0 0 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 10px 30px;
    text-align: center;
}

.background-box {
    position: relative;
    z-index: 1;
    background-color: #5b42f3;
    width: 600px;
    height: 550px;
    top: 16%;
    left: 10%;
    opacity: 70%;
}

.card-body {
    position: absolute;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: left;
    padding-left: 10rem;
    flex-direction: column;
    z-index: 2;
    top: 150%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.card {
    width: 300px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding-bottom: 10px;
}

.card-container {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 4px 8px 0 rbga(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card:hover .card-container {
    transform: rotateY(180deg);
}

.card-face {
    width: 300px;
    height: 450px;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 0 0;
    padding: 20px;
}

.front-face {
    transform: rotateY(0deg);
}

.back-face {
    display: flex;
    transform: rotateY(180deg);
}

.row {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    font-size: 2rem;
}

.row i {
    color: #686767;
}

.bio {
    width: 300px;
    margin-top: -25%;
    margin-left: 65%;
    text-align: justify;
    font-weight: bold;
}

.resume {
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
    top: 10%;
    left: 25%;

}

.resume>div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
}

.resume>div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
}

.resume>div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
}

.resume>div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.resume>div .folder:before,
.resume>div .folder:after,
.resume>div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
}

.resume>div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
}

.resume>div .folder:after,
.resume>div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
}

.resume>div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
}

.resume>div .folder .paper {
    z-index: 1;
    --b: var(--paper);
}

.resume>div .folder .paper:before,
.resume>div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.resume>div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
}

.resume>div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
}

.resume>div .pencil:before,
.resume>div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
}

.resume>div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.resume>div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
}

.resume:before,
.resume:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
}

.resume:after {
    --r: 45deg;
}

.resume:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
}

.project {
    border: 3px solid white;
    border-radius: 10px;
    width: 45%;
    height: 40vh;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.1);
}

.project-one {
    color: darkorchid;
    background-image: url(assets/background.avif);
    background-size: cover;
}

.blog {
    border: 3px solid white;
    border-radius: 10px;
    width: 90%;
    height: 18vh;
    margin-bottom: 30px;
    transition: transform 0.3s;
    margin-left: 5rem;
}

.blog:hover {
    transform: scale(1.1);
}

.c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.c-button--gooey {
    color: #06c8d9;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #06c8d9;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button--gooey .c-button__blobs div {
    background-color: #06c8d9;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button--gooey:hover {
    color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}

.socials-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 40px;
    background-color: #333333;
    margin-left: 35rem;
    margin-top: 5rem;
}

.social {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(194, 194, 194);
}

.twitter:hover {
    background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
}

.facebook:hover {
    background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}

.google-plus:hover {
    background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
}

.instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: -webkit-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social svg {
    fill: white;
    height: 20px;
}

.e-card {
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
    position: relative;
    width: 800px;
    height: 500px;
    border-radius: 16px;
    z-index: 1;
}

.wave {
    width: 1200px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
}

.wave:nth-child(2),
.wave:nth-child(3) {
    top: 210px;
}

.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}

.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
    margin-left: 26rem;
}

.form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
}

.form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
}

.form button {
    align-self: center;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
}

/* Media Queries for Improved Responsiveness */
@media screen and (max-width: 1200px) {

    /* Adjustments for smaller screens */
    #navbar,
    .intro-body {
        margin-left: 10rem;
    }

    .card-body {
        padding-left: 5rem;
    }

    .bio {
        margin-left: 55%;
    }

    .resume {
        left: 20%;
    }

    .socials-container {
        margin-left: 25rem;
    }

    .blogs-container {
        justify-content: center;
    }
}

@media screen and (max-width: 992px) {

    /* Adjustments for smaller screens */
    #navbar,
    .intro-body {
        margin-left: 10rem;
    }

    .card-body {
        padding-left: 2rem;
    }

    .bio {
        margin-left: 30%;
    }

    .resume {
        left: 10%;
    }

    .socials-container {
        margin-left: 15rem;
    }

    /* Centering the blogs */
    .projects-container,
    .blogs-container {
        justify-content: center;
    }

    .project,
    .blog {
        width: 90%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 768px) {

    /* Adjustments for smaller screens */
    #navbar,
    .intro-body {
        margin-left: 5rem;
    }

    .card-body {
        padding-left: 1rem;
    }

    .bio {
        margin-left: 20%;
    }

    .resume {
        left: 5%;
    }

    .socials-container {
        margin-left: 2rem;
    }

    /* Centering the blogs */
    .projects-container,
    .blogs-container {
        justify-content: center;
    }

    .project,
    .blog {
        width: 90%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 576px) {

    /* Adjustments for smaller screens */
    #navbar,
    .intro-body {
        margin-left: 2rem;
    }

    .card-body {
        padding-left: 0.5rem;
    }

    .bio {
        margin-left: 10%;
    }

    .resume {
        left: 2%;
    }

    .socials-container {
        margin-left: 1rem;
    }

    .projects-container,
    .blogs-container {
        justify-content: center;
    }

    .project,
    .blog {
        width: 90%;
        margin: 10px auto;
    }

    .background-box {
        display: none;
        /* Hide background box on smaller screens */
    }

    .card-body {
        position: static;
        /* Set card to static position */
        float: none;
        /* Remove float */
        margin-left: 0;
        /* Reset margin */
        margin-top: 20px;
        /* Adjust margin as needed */
    }

    .container-about {
        display: flex;
        /* Use flex layout */
        justify-content: space-between;
        /* Space items evenly */
        align-items: center;
        /* Align items vertically */
    }
}

@media screen and (max-width: 983px) {

    /* Adjustments for smaller screens */
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {

    /* Adjustments for smaller screens */
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project,
    .Blog {
        width: 90%;
        margin: 10px auto;
    }

    .blogs-container,
    .Blog {
        margin-top: 45rem;
    }

    .socials-container {
        margin-top: 40rem;
        margin-left: 12rem;
    }
}