@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Tilt+Neon&display=swap');

.font-permanent-marker {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-style: normal;
}

.text-11xl {
  font-size: 11rem;
}

.tilt-neon {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}